<div class="layout-2cols">
  <div class="content grid_8">
      <div class="single-page">
          <div class="wrapper-box box-post-comment">
              <h2 class="common-title">Contact Us</h2>
              <div class="box-white">
                  <form id="contact-form" class="clearfix" action="processForm.php" method="post">
                       <p class="rs pb30">Pellentesque laoreet sapien id lacus luctus non fringilla elit lobortis. Fusce augue diam, tempor posuere pharetra sed, feugiat non sapien.</p>
                      <div class="form form-post-comment">
                          <div class="left-input">
                              <label for="txt_name_contact">
                                  <input id="txt_name_contact" type="text" name="name" class="txt fill-width txt-name" placeholder="Enter Your Name"/>
                              </label>
                              <label for="txt_email_contact">
                                  <input id="txt_email_contact" type="email" name="email" class="txt fill-width txt-email" placeholder="Enter Your Email" value="info@megadrupal.com"/>
                              </label>
                          </div>
                          <div class="right-input">
                              <label for="txt_content_contact">
                                  <textarea name="message" id="txt_content_contact" cols="30" rows="10" class="txt fill-width" placeholder="Your message"></textarea>
                              </label>
                          </div>
                          <div class="clear"></div>
                          <p class="rs ta-r clearfix">
            <span id="response"></span>
                             
                             <input type="submit" class="btn btn-white btn-success btn-submit-comment" value="Send">
                         </p>
                      </div>
                  </form>
              </div>
          </div><!--end: .box-list-comment -->
      </div>
  </div><!--end: .content -->
  <div class="sidebar grid_4">
      <div class="box-gray">
          <h3 class="title-box">Contact info</h3>
          <p class="rs description pb20">Pellentesque laoreet sapien id lacus luctus non fringilla elit lobortis. Fusce augue diam, tempor posuere pharetra sed, feugiat non sapien.</p>
          <p class="rs pb20">
              <span class="fw-b">Address</span>: 111 lorem St. 5th Floor,
              Ipsum City, MA 00001
          </p>
          <p class="rs pb20">
              <span class="fw-b">Phone</span>: +1 (555) 55-55-555
              (9AM - 6PM EST)
          </p>
          <p class="rs pb20">
              <span class="fw-b">Email</span>: <a href="mailto:info@megadrupal.com" class="be-fc-orange">info@megadrupal.com</a>
          </p>
      </div>
  </div><!--end: .sidebar -->
  <div class="clear"></div>
</div>
