<div class="layout-2cols">
  <div class="content grid_9">
      <div class="search-result-page">
          <div class="top-lbl-val">
              <h3 class="common-title">Discover / <span class="fc-orange">all projects</span></h3>
              <div class="count-result">
                  <span class="fw-b fc-black">{{projects.page.totalElements}}</span> projects found.
              </div>
          </div>
          <div class="list-project-in-category">
              <div class="lbl-type clearfix">
                  <h4 class="rs title-lbl"><a href="#" class="be-fc-orange">Liste of projects</a></h4>
                  <a routerLink="/all-projects" class="view-all be-fc-orange">View all</a>
              </div>
            {{projects.length }}
              <div class="list-project">
                  <div class="grid_3" *ngFor="let project of projects._embedded.projects">
                      <div class="project-short sml-thumb">
                          <div class="top-project-info">
                              <div class="content-info-short clearfix">
                                  <a (click)="projectService.showProject(project.id)" class="thumb-img clickable">
                                      <img src="../../assets/images/ex/th-292x204-1.jpg" alt="$TITLE">
                                  </a>
                                  <div class="wrap-short-detail">
                                      <h3 class="rs acticle-title"><a class="be-fc-orange clickable" (click)="projectService.showProject(project.id)">
                                        {{project.nomProjet}}
                                      </a></h3>
                                      <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">John Doe</a></p>
                                      <p class="rs title-description">
                                        {{displayDesc(project.descriptionProjet)}}

                                      </p>
                                      <p class="rs project-location">
                                          <i class="icon iLocation"></i>
                                        {{project.getAdresse.adresse}}
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="bottom-project-info clearfix">
                              <div class="line-progress">
                                  <div class="bg-progress">
                                      <span  [style.width]=" project.pourcentage +'%' " [style.background]="project.pourcentage == 100 ? 'green' : 'red' "></span>
                                  </div>
                              </div>
                              <div class="group-fee clearfix">
                                  <div class="fee-item">
                                      <p class="rs lbl">Funded</p>
                                      <span class="val">{{project.pourcentage | number:'2.0-2' }}%</span>
                                  </div>
                                  <div class="sep"></div>
                                  <div class="fee-item">
                                      <p class="rs lbl">Pledged</p>
                                      <span class="val">{{project.fondsALever}} MAD</span>
                                  </div>
                                  <div class="sep"></div>
                                  <div class="fee-item" *ngIf="!project.isCloture && project.pourcentage != 100">
                                      <p class="rs lbl">Days Left</p>
                                      <span class="val">25</span>
                                  </div>
                                 <div class="fee-item danger" *ngIf="project.isCloture || project.pourcentage == 100">
                                  <p class="rs lbl">Clotured</p>
                                  <span class="val"></span>
                                </div>
                              </div>
                              <div class="clear"></div>
                          </div>
                      </div>
                  </div><!--end: .grid_3 > .project-short-->
                  <div class="clear"></div>
              </div>
          </div><!--end: .list-project-in-category -->
          <div class="list-project-in-category">
              <div class="lbl-type clearfix">
                  <h4 class="rs title-lbl"><a href="#" class="be-fc-orange">Popular this week</a></h4>
                  <a routerLink="all-projects" class="view-all be-fc-orange">View all</a>
              </div>
              <div id="list-project-ajax" class="list-project">
                  <div class="grid_3">
                      <div class="project-short sml-thumb">
                          <div class="top-project-info">
                              <div class="content-info-short clearfix">
                                  <a href="#" class="thumb-img">
                                      <img src="../../assets/images/ex/th-292x204-1.jpg" alt="$TITLE">
                                  </a>
                                  <div class="wrap-short-detail">
                                      <h3 class="rs acticle-title"><a class="be-fc-orange" href="#">Project title</a></h3>
                                      <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">John Doe</a></p>
                                      <p class="rs title-description">Nam sit amet est sapien, a faucibus purus. Sed commodo facilisis tempus. Pellentesque placerat elementum adipiscing.</p>
                                      <p class="rs project-location">
                                          <i class="icon iLocation"></i>
                                          New York, NY
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="bottom-project-info clearfix">
                              <div class="line-progress">
                                  <div class="bg-progress">
                                      <span  style="width: 50%"></span>
                                  </div>
                              </div>
                              <div class="group-fee clearfix">
                                  <div class="fee-item">
                                      <p class="rs lbl">Funded</p>
                                      <span class="val">50%</span>
                                  </div>
                                  <div class="sep"></div>
                                  <div class="fee-item">
                                      <p class="rs lbl">Pledged</p>
                                      <span class="val">$38,000</span>
                                  </div>
                                  <div class="sep"></div>
                                  <div class="fee-item">
                                      <p class="rs lbl">Days Left</p>
                                      <span class="val">25</span>
                                  </div>
                              </div>
                              <div class="clear"></div>
                          </div>
                      </div>
                  </div><!--end: .grid_3 > .project-short-->

                  <div class="clear"></div>
              </div>
          </div><!--end: .list-project-in-category -->
          <p class="rs ta-c">
              <a id="showmoreproject" class="btn btn-black btn-load-more" href="#">Show more projects</a>
          </p>
      </div><!--end: .search-result-page -->
  </div><!--end: .content -->
  <div class="sidebar grid_3">
      <div class="left-list-category">
          <h4 class="rs title-nav">Types</h4>
          <ul class="rs nav nav-category">

              <li *ngFor="let type of typesProjects._embedded.typesProjects" [class.active]="currentType==type">
                  <a class="clickable" (click)="getProjectsByType(type)" *ngIf="type.projectCount>0">
                      {{type.type}}
                      <span class="count-val"> ({{type.projectCount}})</span>
                      <i class="icon iPlugGray"></i>
                  </a>
              </li>

          </ul>
      </div><!--end: .left-list-category -->
      <div class="left-list-category">
          <h4 class="rs title-nav">Category</h4>
          <ul class="rs nav nav-category">
              <li>
                  <a href="#">
                      Art
                      <span class="count-val">(12)</span>
                      <i class="icon iPlugGray"></i>
                  </a>
              </li>
              <li class="active">
                  <a href="#">
                      Comics
                      <span class="count-val">(12)</span>
                      <i class="icon iPlugGray"></i>
                  </a>
              </li>

              <li>
                  <a href="#">
                      Games
                      <span class="count-val">(12)</span>
                      <i class="icon iPlugGray"></i>
                  </a>
                  <ul class="rs nav-sub-category">
                      <li>
                          <a href="#">
                              Comedy
                              <span class="count-val">(12)</span>
                              <i class="dotSquare"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Animation
                              <span class="count-val">(12)</span>
                              <i class="dotSquare"></i>
                          </a>
                      </li>
                  </ul><!--end: .nav-sub-category-->
              </li>

          </ul>
      </div><!--end: .left-list-category -->
  </div><!--end: .sidebar -->
  <div class="clear"></div>
</div>
