<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Kickstars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../assets/images/logo1.ico"  />
    
</head>
<body>
        <app-header></app-header>
        <div class="container-fluid">
            <router-outlet></router-outlet> 
        </div>
        <app-footer></app-footer>

    </body>
</html>
