

<div class="layout-2cols">
<div class="content grid_8">
  <div class="project-detail">
    <h2 class="rs project-title">{{project.nomProjet}}</h2>
    <p class="rs post-by">by <a href="#">Jonh Doe</a></p>
    <div class="project-short big-thumb">
      <div id="bs4-slide-carousel" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#bs4-slide-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs4-slide-carousel" data-slide-to="1"></li>
          <li data-target="#bs4-slide-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-inline w-100" src="../../assets/images/ex/th-552x411-2.jpg" alt="Slide One">
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100" src="../../assets/images/ex/th-552x411-2.jpg" alt="Slide Two">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/ex/th-552x411-2.jpg" alt="Slide Three">
          </div>
        </div>
        <a class="carousel-control-prev" href="#bs4-slide-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#bs4-slide-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="bottom-project-info clearfix">
        <div class="project-progress sys_circle_progress" data-percent="87">
          <div class="sys_holder_sector">{{project.pourcentage|number:'2.0-2' }}%</div>
        </div>
        <div class="group-fee clearfix">
          <div class="fee-item">
            <p class="rs lbl">Bankers</p>
            <span class="val">270</span>
          </div>
          <div class="sep"></div>
          <div class="fee-item">
            <p class="rs lbl">Pledged</p>
            <span class="val">${{project.fondsALever}}</span>
          </div>
          <div class="sep"></div>
          <div class="fee-item" *ngIf="!project.isCloture">
            <p class="rs lbl">Days Left</p>
            <span class="val">25</span>
          </div>
          <div class="fee-item danger" *ngIf="project.isCloture">
            <p class="rs lbl">Clotured</p>
            <span class="val"></span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="project-tab-detail tabbable accordion">
      <ul class="nav nav-tabs clearfix">
        <li class="active"><a href="#">About</a></li>
        <li><a href="#" class="be-fc-orange">Updates (0)</a></li>
        <li><a href="#" class="be-fc-orange">Backers (270)</a></li>
        <li><a href="#" class="be-fc-orange">Comments (2)</a></li>
      </ul>
      <div class="tab-content">
        <div>
          <h3 class="rs alternate-tab accordion-label">About</h3>
          <div class="tab-pane active accordion-content">
            <div class="editor-content">
              <h3 class="rs title-inside">{{project.nomProjet}}</h3>
              <p class="rs post-by">by <a href="#" class="fw-b fc-gray be-fc-orange">Ray Sumser</a> in <span class="fw-b fc-gray">New York, NY</span></p>

              <p>{{project.descriptionProjet}}</p>

               <div class="social-sharing">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style">
                  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                  <a class="addthis_button_tweet"></a>
                  <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                  <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
                <!-- AddThis Button END -->
              </div>
            </div>
            <div class="project-btn-action">
              <a class="btn big btn-red" href="#">Ask a question</a>
              <a class="btn big btn-black" href="#">Report this project</a>
            </div>
          </div><!--end: .tab-pane(About) -->
        </div>
        <div>
          <h3 class="rs alternate-tab accordion-label">Updates (0)</h3>
          <div class="tab-pane accordion-content">
            <div class="tab-pane-inside">
              <div class="list-last-post">
                <div class="media other-post-item">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-1.jpg" alt="$TITLE">
                  </a>
                  <div class="media-body">
                    <h4 class="rs title-other-post">
                      <a href="#" class="be-fc-orange fw-b">John Doe</a>
                    </h4>
                    <p class="rs fc-gray time-post pb10">posted 5 days ago</p>
                    <p class="rs description">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  </div>
                </div><!--end: .other-post-item -->
                <div class="media other-post-item">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-2.jpg" alt="$TITLE">
                  </a>
                  <div class="media-body">
                    <h4 class="rs title-other-post">
                      <a href="#" class="be-fc-orange fw-b">John Doe</a>
                    </h4>
                    <p class="rs fc-gray time-post pb10">posted 5 days ago</p>
                    <p class="rs description">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  </div>
                </div><!--end: .other-post-item -->
                <div class="media other-post-item">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-3.jpg" alt="$TITLE">
                  </a>
                  <div class="media-body">
                    <h4 class="rs title-other-post">
                      <a href="#" class="be-fc-orange fw-b">John Doe</a>
                    </h4>
                    <p class="rs fc-gray time-post pb10">posted 5 days ago</p>
                    <p class="rs description">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  </div>
                </div><!--end: .other-post-item -->
                <div class="media other-post-item">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-4.jpg" alt="$TITLE">
                  </a>
                  <div class="media-body">
                    <h4 class="rs title-other-post">
                      <a href="#" class="be-fc-orange fw-b">John Doe</a>
                    </h4>
                    <p class="rs fc-gray time-post pb10">posted 5 days ago</p>
                    <p class="rs description">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  </div>
                </div><!--end: .other-post-item -->
                <div class="media other-post-item">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-1.jpg" alt="$TITLE">
                  </a>
                  <div class="media-body">
                    <h4 class="rs title-other-post">
                      <a href="#" class="be-fc-orange fw-b">John Doe</a>
                    </h4>
                    <p class="rs fc-gray time-post pb10">posted 5 days ago</p>
                    <p class="rs description">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  </div>
                </div><!--end: .other-post-item -->
              </div>
            </div>
          </div><!--end: .tab-pane(Updates) -->
        </div>
        <div>
          <h3 class="rs alternate-tab accordion-label">Backers (270)</h3>
          <div class="tab-pane accordion-content">
            <div class="tab-pane-inside">
              <div class="project-author pb20">
                <div class="media">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME"/>
                  </a>
                  <div class="media-body">
                    <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">John Doe</a></h4>
                    <p class="rs">Chicago, IL</p>
                    <p class="rs fc-gray">5 projects</p>
                  </div>
                </div>
              </div><!--end: .project-author -->
              <div class="project-author pb20">
                <div class="media">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME"/>
                  </a>
                  <div class="media-body">
                    <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">John Doe</a></h4>
                    <p class="rs">Chicago, IL</p>
                    <p class="rs fc-gray">5 projects</p>
                  </div>
                </div>
              </div><!--end: .project-author -->
            </div>
            <div class="project-btn-action">
              <a class="btn btn-red" href="#">Ask a question</a>
              <a class="btn btn-black" href="#">Report this project</a>
            </div>
          </div><!--end: .tab-pane(Backers) -->
        </div>
        <div>
          <h3 class="rs active alternate-tab accordion-label">Comments (2)</h3>
          <div class="tab-pane accordion-content">
            <div class="box-list-comment">
              <div class="media comment-item">
                <a href="#" class="thumb-left">
                  <img src="images/ex/th-90x90-1.jpg" alt="$TITLE">
                </a>
                <div class="media-body">
                  <h4 class="rs comment-author">
                    <a href="#" class="be-fc-orange fw-b">John Doe</a>
                    <span class="fc-gray">say:</span>
                  </h4>
                  <p class="rs comment-content"> Fusce tellus. Sed metus augue, convallis et, vehicula ut, pulvinar eu, ante. Integer orci tellus, tristique vitae, consequat nec, porta vel, lectus</p>
                  <p class="rs time-post">5 days ago</p>
                </div>
              </div><!--end: .comment-item -->
              <div class="media comment-item">
                <a href="#" class="thumb-left">
                  <img src="images/ex/th-90x90-2.jpg" alt="$TITLE">
                </a>
                <div class="media-body">
                  <h4 class="rs comment-author">
                    <a href="#" class="be-fc-orange fw-b">Eminem</a>
                    <span class="fc-gray">say:</span>
                  </h4>
                  <p class="rs comment-content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit.</p>
                  <p class="rs time-post">5 days ago</p>
                </div>
              </div><!--end: .comment-item -->
              <div class="media comment-item lv2">
                <a href="#" class="thumb-left">
                  <img src="images/ex/th-90x90-3.jpg" alt="$TITLE">
                </a>
                <div class="media-body">
                  <h4 class="rs comment-author">
                    <a href="#" class="be-fc-orange fw-b">Snoop Dogg</a>
                    <span class="fc-gray">say:</span>
                  </h4>
                  <p class="rs comment-content">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  <p class="rs time-post">5 days ago</p>
                </div>
              </div><!--end: .comment-item -->
              <div class="media comment-item lv2">
                <a href="#" class="thumb-left">
                  <img src="images/ex/th-90x90-4.jpg" alt="$TITLE">
                </a>
                <div class="media-body">
                  <h4 class="rs comment-author">
                    <a href="#" class="be-fc-orange fw-b">Obama</a>
                    <span class="fc-gray">say:</span>
                  </h4>
                  <p class="rs comment-content">Curabitur vel dolor ultrices ipsum dictum tristique. Praesent vitae lacus. Ut velit enim, vestibulum non, fermentum nec,</p>
                  <p class="rs time-post">5 days ago</p>
                </div>
              </div><!--end: .comment-item -->
              <div class="media comment-item lv3">
                <a href="#" class="thumb-left">
                  <img src="images/no-avatar.png" alt="$TITLE">
                </a>
                <div class="media-body">
                  <h4 class="rs comment-author">
                    <a href="#" class="be-fc-orange fw-b">Mark Lenon</a>
                    <span class="fc-gray">say:</span>
                  </h4>
                  <p class="rs comment-content">Nam nec sem ac risus congue varius. Maecenas interdum ipsum tempor ipsum fringilla eu vehicula urna vehicula.</p>
                  <p class="rs time-post">5 days ago</p>
                </div>
              </div><!--end: .comment-item -->
              <div class="media comment-item">
                <a href="#" class="thumb-left">
                  <img src="images/ex/th-90x90-1.jpg" alt="$TITLE">
                </a>
                <div class="media-body">
                  <h4 class="rs comment-author">
                    <a href="#" class="be-fc-orange fw-b">Dr. Dre</a>
                    <span class="fc-gray">say:</span>
                  </h4>
                  <p class="rs comment-content"> Morbi eget arcu. Morbi porta, libero id ullamcorper nonummy, nibh ligula pulvinar metus, eget consectetuer augue nisi quis lacus. Ut ac mi quis lacus mollis aliquam. Curabitur iaculis tempus eros. Curabitur vel mi sit amet magna malesuada ultrices</p>
                  <p class="rs time-post">5 days ago</p>
                </div>
              </div><!--end: .comment-item -->
            </div>
          </div><!--end: .tab-pane(Comments) -->
        </div>
      </div>
    </div><!--end: .project-tab-detail -->
  </div>
</div><!--end: .content -->
<div class="sidebar grid_4">
  <div class="project-runtime">
    <div class="box-gray">
      <div class="project-date clearfix">
        <i class="icon iCalendar"></i>
        <span class="val"><span class="fw-b">Launched: </span>Apr 8, 2013</span>
      </div>
      <div class="project-date clearfix">
        <i class="icon iClock"></i>
        <span class="val"><span class="fw-b">Funding ends: </span>Apr 8, 2013</span>
      </div>
      <a class="btn btn-green btn-buck-project" href="#">
        <span class="lbl">Buck This Project</span>
        <span class="desc">$1 minimum pledge</span>
      </a>
      <p class="rs description">This project will only be funded if at least $15,000 is pledged by Wednesday May 8, 2:05pm EDT.</p>
    </div>
  </div><!--end: .project-runtime -->
  <div class="project-author">
    <div class="box-gray">
      <h3 class="title-box">Project by</h3>
      <div class="media">
        <a href="#" class="thumb-left">
          <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME"/>
        </a>
        <div class="media-body">
          <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">John Doe</a></h4>
          <p class="rs">Chicago, IL</p>
          <p class="rs fc-gray">5 projects</p>
        </div>
      </div>
      <div class="author-action">
        <a class="btn btn-red" href="#">Contact me</a>
        <a class="btn btn-white" href="#">See full bio</a>
      </div>
    </div>
  </div><!--end: .project-author -->
  <div class="clear clear-2col"></div>
  <div class="wrap-nav-pledge">
    <ul class="rs nav nav-pledge accordion">
      <li>
        <div class=" pledge-label accordion-label clearfix">
          <i class="icon iPlugGray"></i>
          <span class="pledge-amount">Pledge $17 or more</span>
          <span class="count-val">(12 of 31)</span>
        </div>
        <div class=" pledge-content accordion-content">
          <div class="pledge-detail">
            <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
            <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
            <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
            <p class="rs ta-c"><a class="btn big btn-red" href="#">Buck this project</a></p>
          </div>
        </div>
      </li><!--end: pledge-item -->
      <li>
        <div class=" pledge-label accordion-label clearfix">
          <i class="icon iPlugGray"></i>
          <span class="pledge-amount">Pledge $32 or more</span>
          <span class="count-val">(42 of 111)</span>
        </div>
        <div class=" pledge-content accordion-content">
          <div class="pledge-detail">
            <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
            <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
            <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
            <p class="rs ta-c"><a class="btn big btn-red" href="#">Buck this project</a></p>
          </div>
        </div>
      </li><!--end: pledge-item -->
      <li>
        <div class="active pledge-label accordion-label clearfix">
          <i class="icon iPlugGray"></i>
          <span class="pledge-amount">Pledge $50 or more</span>
          <span class="count-val">(7 of 13)</span>
        </div>
        <div class="active pledge-content accordion-content">
          <div class="pledge-detail">
            <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
            <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
            <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
            <p class="rs ta-c"><a class="btn big btn-red" href="#">Buck this project</a></p>
          </div>
        </div>
      </li><!--end: pledge-item -->
      <li>
        <div class=" pledge-label accordion-label clearfix">
          <i class="icon iPlugGray"></i>
          <span class="pledge-amount">Pledge $54 or more</span>
          <span class="count-val">(2 of 10)</span>
        </div>
        <div class=" pledge-content accordion-content">
          <div class="pledge-detail">
            <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <p class="rs fw-b pb20">Ocupated (12 of 30)</p>
            <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
            <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
            <p class="rs ta-c"><a class="btn big btn-red" href="#">Buck this project</a></p>
          </div>
        </div>
      </li><!--end: pledge-item -->
      <li>
        <div class=" pledge-label accordion-label clearfix">
          <i class="icon iPlugGray"></i>
          <span class="pledge-amount">Pledge $130 or more</span>
          <span class="count-val">(23 of 47)</span>
        </div>
        <div class=" pledge-content accordion-content">
          <div class="pledge-detail">
            <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
            <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
            <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
            <p class="rs ta-c"><a class="btn big btn-red" href="#">Buck this project</a></p>
          </div>
        </div>
      </li><!--end: pledge-item -->
      <li>
        <div class=" pledge-label accordion-label clearfix">
          <i class="icon iPlugGray"></i>
          <span class="pledge-amount">Pledge $110 or more</span>
          <span class="count-val">(23 of 39)</span>
        </div>
        <div class=" pledge-content accordion-content">
          <div class="pledge-detail">
            <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
            <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
            <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
            <p class="rs ta-c"><a class="btn big btn-red" href="#">Buck this project</a></p>
          </div>
        </div>
      </li><!--end: pledge-item -->
    </ul>
  </div><!--end: .wrap-nav-pledge -->
</div><!--end: .sidebar -->
<div class="clear"></div>
</div>
